<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <% if (current=='index' ) { %>
  <%- include ('navbar.ejs') %>
  <% } else if(current=='member' ) { %>
  <%- include ('member.ejs') %>
  <% } else { %>
  <%- include ('login.ejs') %>
  <% } %>



  <%- contents %>



  <% if (footer=='normal' ) { %>
  <%- include ('footer.ejs') %>
  <% } else if (footer=='simple' ){ %>
  <%- include ('footer_simple.ejs') %>
  <% } %>



  <script src="./assets/js/vendors.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>